input[type="checkbox"] {
  width: 2em;
  height: 2em;
  margin-top: 0.7rem;
}

input[type="checkbox"]::before {
  content: "";
  width: 2em;
  height: 2em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.edit,
.delete,
.view {
  background-color: crimson;
  padding: 3%;
  border-radius: 11px;
}

.delete {
  background-color: crimson;
}

.edit {
  background-color: green;
}

.view {
  background-color: rgb(11, 106, 184);
}

.view_more {
  border: 1px solid;
  margin-top: 13px;
  border-radius: 6px;
}

.table-order {
  display: "flex";
  flex-direction: "column";
  gap: 5%;
  padding-top: 3%;
}

.table-order > div {
  flex-direction: "row";
}

.close {
  font-size: 40px;
  font-weight: bold;
  float: left;
  margin: -22px auto;
}
.close:hover {
  color: green;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
}
